:root {
  --color-primary: #232a34;
}

body {
  background: var(--color-primary);
  color: #fff;
}

::selection {
  background: #fff;
  color: black;
}

/* Links */
a {
  text-decoration: none;
  color: #fff;
}

/* Lists */
.list {
  list-style: none;
  padding-left: 0;
}

/* Navigation Bar */
.nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 1rem;
  align-items: center;
}

.nav__brand {
  align-items: center;
}

.nav__list {
  width: 100%;
  margin: 0;
}

.nav__item {
  padding: 0.5rem 2rem;
  border-bottom: 1px solid #fff;
}

.nav__item > a {
  color: #d2d0db;
  transition: color 0.3s;
}

/* Icons */
.icon {
  width: 40px;
  height: 40px;
}

.icon--white {
  fill: #fff;
}

/* Collapsibles */
.collapsible__content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s;
}

.collapsible--expanded .collapsible__content {
  max-height: 100vh;
  opacity: 1;
}
